doctype html
html
	head
		title Node.js Login
		link(
			href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
			rel='stylesheet'
			integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN'
			crossorigin='anonymous'
		)
		link(
			rel='stylesheet'
			href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
			integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
			crossorigin='anonymous'
		)
		link(rel='stylesheet' href='/css/style.css')
		//
			link(
				rel='stylesheet'
				href='https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css'
				integrity='sha256-PVObJvYe7iXCSBcVkQUFvkV9TQGFh5J/ga8WHkLqHAo='
				crossorigin='anonymous'
			)
	body
		block content
		script(
			src='https://code.jquery.com/jquery-3.4.1.min.js'
			integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo='
			crossorigin='anonymous'
		)
		// Get src/integrity at https://github.com/twbs/bootstrap/blob/master/config.yml
		script(
			src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js'
			integrity='sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb'
			crossorigin='anonymous'
		)
		script(
			src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
			integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM'
			crossorigin='anonymous'
		)
		script(
			src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js'
			integrity='sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i'
			crossorigin='anonymous'
		)
		block scripts
