
extends layout.pug

block content
	.container.print(role='main')
		table.table.table-bordered.table-striped
			thead.thead-dark
				tr
					th.print.number #
					th.print.name _(Name)
					th.print.username _(Username)
					th.print.location _(Location)
					th _(AccountCreated)
			tbody
			-for (const [i, {name, user, country, date}] of accts.entries())
				tr
					td.print.number=i+1
					td=name
					td=user
					td=country
					td=date
